.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.pageNum {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 22px;
    margin: 0 15px;
}

.limit {
    margin: 0 20px;
}
