.section {
    margin-top: 50px;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
    width: 100%;
    margin: 10px;
    gap: 15px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
}

.btnRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    gap: 15px;
}

.subtitle {
    margin-left: 10px;
}
